
footer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14px;
}

footer #footer-container{
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: white;
}

footer .tools-container {
    height: 373px;
}

footer > .tools-container .inner {
    margin: 0 auto;

}

footer .tools-container .inner .tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    height: 372px;
    /*	background-color: antiquewhite;*/
}

footer .tools-container .inner .tools .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    height: 253px;
    /*	background-color: olive;*/
}

footer .tools-container .inner .tools .column .column-name {
    font-size: 16px;
}

footer .tools-container .inner .tools .column .points {
    font-size: 12px;
}

footer .contact-us-container .inner .contact-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 120px;
}

footer .contact-us-container .inner .contact-us .social-network-container {
    display: flex;
    width: 236px;
    justify-content: space-between;
}

footer .contact-us-container .inner .contact-us .social-network-container .social-network {
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #F13C6E;
    justify-content: center;
    align-items: center;
}

footer .contact-us-container .inner .contact-us button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 40px;
    border: 2px solid #F13C6E;
    border-radius: 40px;
    font-size: 14px;
    background-color: white;
    cursor: pointer;
}

footer .contact-us-container .inner .contact-us > a {
    font-size: 16px;
}

footer div.under-the-footer {
    display: flex;
    width: 100%;
    height: 64px;
}

footer .under-the-footer .under-container {
    background-color: #EFEFEF;
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #828282;
    padding: 0 405px;
}

footer .media-under-the-footer {
    display: none;
}

footer .no-media {
    display: flex;
    width: 100%;
    flex-direction: column;

}



