header {
    color: white;
}

.preheader.data-container {
    background-color: #EFEFEF;
}

.preheader .data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 14px;
    color: black;
}

.preheader .data .menu {
    display: flex;
    max-width: 447px;
    width: 100%;
    justify-content: space-between;
}

.preheader .data .menu div:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*header-container{*/
/*	*/
/*	*/
/*}*/
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 199px;
}

header .search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
}

header .search .internal-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    height: 80px;
    color: black;
}

header .header-container .input-search{
    display: none;
}

header .search .internal-elements .string-to-enter-container {
    width: 250px;
    height: 40px;
    border-radius: 40px;
    border: 0px;
    background-color: #EFEFEF;
    outline: none;
    position: relative;
    overflow: hidden;
}

header .search .internal-elements .string-to-enter-container input {
    border: none;
    width: inherit;
    height: inherit;
    padding: 0 20px 0 40px;
    background-color: inherit;
    outline: none;
}

header .string-to-enter-container-media{
    display: none;
}

header .search .internal-elements .string-to-enter-container:before {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 12px;
    top: 10px;
    display: block;
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    content: "";
}

header .background-banner .search .internal-elements .strips{
    display: none;
}



header .search .internal-elements button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 40px;
    border: 2px solid #F13C6E;
    border-radius: 40px;
    font-size: 14px;
    background-color: white;
    cursor: pointer;
}

header .search .internal-elements button:hover {
    background-color: #EFEFEF;
}

header .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
    height: 79px;
}

header .menu .internal-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    width: 100%;
    height: 19px;
}

header .menu .internal-elements > a {
    padding: 0 5px;
}

header .logo {
    height: 80px;
}

header .logo img {
    height: 80px;
}
