@media screen and (max-width: 1210px) {

}

@media screen and (max-width: 1140px) {

}

@media screen and (max-width: 960px) {
    .media {
        display: flex;
    }

    aside.mobile-menu {
        display: flex;
        height: 100%;
        width: 100%;
        background-color: #00000070;
        z-index: 3;
    }

    aside.mobile-menu .mobile-menu-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 332px;
        width: 100%;
        height: 100vh;
        background-color: #F13C6E;
    }

    aside.mobile-menu .mobile-menu-container .mobile-menu-header-block{

    }

    aside.mobile-menu .mobile-menu-container .mobile-menu-header-block .mobile-menu-header {
        display: flex;
        justify-content: space-between;
        height: 50px;
        align-items: center;
        padding: 2px 16px;
    }

    aside.mobile-menu .mobile-menu-container .mobile-menu-list {
        height: 400px;
        min-height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 16px;
        margin-top: 6px;
    }

    aside.mobile-menu .mobile-menu-container .mobile-menu-list .mobile-menu-list-block p{
        margin-left:  16px;
        margin-top: 7px;
        margin-bottom: 7px;
    }


    aside.mobile-menu .mobile-menu-container .mobile-menu-footer {
        height: 200px;
        max-height: 230px;
    }

    aside.mobile-menu .mobile-menu-container .mobile-menu-footer .inner{
        height: inherit;
    }

    aside.mobile-menu .contact-us {
        display: flex;
        height: inherit;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
        font-size: 16px;
    }

    aside.mobile-menu .contact-us button {
        border: 2px solid white;
        width: 170px;
        height: 40px;
        border-radius: 40px;
        background-color: #F13C6E;
        color: white;
        font-size: 11px;
    }

    aside.mobile-menu .contact-us .social-network-container {
        display: flex;
        justify-content: space-between;
        width: 230px;
    }

    aside.mobile-menu .contact-us .social-network-container .social-network {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;

        border-radius: 50px;
        border: 2px solid white;
    }

    aside.mobile-menu .contact-us .social-network-container .social-network img {
        width: auto;
    }
}

@media screen and (max-width: 540px) {

}